In [2]:
#example 01
x=lambda i:i+10
print(x(5))

15

In [3]:
#example 02 with 2 arguments
calculate= lambda x,y: x*y
print(calculate(5,9))

45

In [4]:
#example03 with 03 arguments
math_op = lambda x,y,z:x*y+z
print(math_op(2,3,4))

10

In [6]:
#example04with user function
def multiply (n):
    return lambda x:x*n
double=multiply(2)
print(double(5))

10