You can find th ariticle for this code here: https://www.datainsightonline.com/post/ultimate-guide-to-deal-with-text-data-from-basic-to-advanced
---

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB, MultinomialNB, ComplementNB

In [3]:
imdb = pd.read_csv('/content/drive/MyDrive/IMDB Dataset.csv')[:20001]
imdb

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
19996  It's sort of hard for me to say it, because I ...  negative
19997  I still liked it though. Warren Beatty is only...  positive
19998  We could still use Black Adder even today. Ima...  positive
19999  This so-called "documentary" tries to tell tha...  negative
20000  I am a huge fan of Northern Exposure. Men In T...  negative

[20001 rows x 2 columns]

In [4]:
# Split the dataset according to the class distribution of category_desc, using the filtered_text vector
train_X, test_X, train_y, test_y = train_test_split(imdb['review'],imdb['sentiment'],test_size=0.2, random_state=42)

In [5]:
#create your model
nb = GaussianNB()
#br = BernoulliNB()
nb= GaussianNB()
# Fit the model to the training data
nb.fit(train_X,train_y)

#predict 
y_pred = nb.predict(Test_X)
print(nb.score(Test_X,test_y))
print(accuracy_score(test_y,y_pred))

ValueError: ignored

In [6]:
imdb['labels'] = imdb['sentiment'].apply(lambda s: 1 if s == 'positive' else 0)
imdb

                                                  review sentiment  labels
0      One of the other reviewers has mentioned that ...  positive       1
1      A wonderful little production. <br /><br />The...  positive       1
2      I thought this was a wonderful way to spend ti...  positive       1
3      Basically there's a family where a little boy ...  negative       0
4      Petter Mattei's "Love in the Time of Money" is...  positive       1
...                                                  ...       ...     ...
19996  It's sort of hard for me to say it, because I ...  negative       0
19997  I still liked it though. Warren Beatty is only...  positive       1
19998  We could still use Black Adder even today. Ima...  positive       1
19999  This so-called "documentary" tries to tell tha...  negative       0
20000  I am a huge fan of Northern Exposure. Men In T...  negative       0

[20001 rows x 3 columns]

In [7]:
imdb=imdb.drop('sentiment',axis=1)
imdb

                                                  review  labels
0      One of the other reviewers has mentioned that ...       1
1      A wonderful little production. <br /><br />The...       1
2      I thought this was a wonderful way to spend ti...       1
3      Basically there's a family where a little boy ...       0
4      Petter Mattei's "Love in the Time of Money" is...       1
...                                                  ...     ...
19996  It's sort of hard for me to say it, because I ...       0
19997  I still liked it though. Warren Beatty is only...       1
19998  We could still use Black Adder even today. Ima...       1
19999  This so-called "documentary" tries to tell tha...       0
20000  I am a huge fan of Northern Exposure. Men In T...       0

[20001 rows x 2 columns]

In [8]:
imdb['review'].iloc[0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [9]:
#Calculate the number of words
imdb['word_cnt'] = imdb['review'].str.split().str.len()
imdb.head()

                                              review  labels  word_cnt
0  One of the other reviewers has mentioned that ...       1       307
1  A wonderful little production. <br /><br />The...       1       162
2  I thought this was a wonderful way to spend ti...       1       166
3  Basically there's a family where a little boy ...       0       138
4  Petter Mattei's "Love in the Time of Money" is...       1       230

In [10]:
#Calculate the number of chars in each text
imdb['char_cnt'] = imdb['review'].str.len()
imdb.head()

,review,labels,word_cnt,char_cnt
0,One of the other reviewers has mentioned that ...,1,307,1761
1,A wonderful little production. <br /><br />The...,1,162,998
2,I thought this was a wonderful way to spend ti...,1,166,926
3,Basically there's a family where a little boy ...,0,138,748
4,"Petter Mattei's ""Love in the Time of Money"" is...",1,230,1317

In [11]:
#Average word length
imdb['avg'] = imdb['char_cnt']/imdb['word_cnt']
imdb.head()

,review,labels,word_cnt,char_cnt,avg
0,One of the other reviewers has mentioned that ...,1,307,1761,5.736156
1,A wonderful little production. <br /><br />The...,1,162,998,6.160494
2,I thought this was a wonderful way to spend ti...,1,166,926,5.578313
3,Basically there's a family where a little boy ...,0,138,748,5.420290
4,"Petter Mattei's ""Love in the Time of Money"" is...",1,230,1317,5.726087

In [12]:
imdb['numerics'] = imdb['review'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
imdb.head()

,review,labels,word_cnt,char_cnt,avg,numerics
0,One of the other reviewers has mentioned that ...,1,307,1761,5.736156,1
1,A wonderful little production. <br /><br />The...,1,162,998,6.160494,0
2,I thought this was a wonderful way to spend ti...,1,166,926,5.578313,0
3,Basically there's a family where a little boy ...,0,138,748,5.420290,1
4,"Petter Mattei's ""Love in the Time of Money"" is...",1,230,1317,5.726087,0

In [13]:
imdb['upper'] = imdb['review'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
imdb.head()

,review,labels,word_cnt,char_cnt,avg,numerics,upper
0,One of the other reviewers has mentioned that ...,1,307,1761,5.736156,1,8
1,A wonderful little production. <br /><br />The...,1,162,998,6.160494,0,2
2,I thought this was a wonderful way to spend ti...,1,166,926,5.578313,0,3
3,Basically there's a family where a little boy ...,0,138,748,5.420290,1,3
4,"Petter Mattei's ""Love in the Time of Money"" is...",1,230,1317,5.726087,0,1

In [14]:
imdb['review'] = imdb['review'].str.lower()
imdb['review'].iloc[0]

"one of the other reviewers has mentioned that after watching just 1 oz episode you'll be hooked. they are right, as this is exactly what happened with me.<br /><br />the first thing that struck me about oz was its brutality and unflinching scenes of violence, which set in right from the word go. trust me, this is not a show for the faint hearted or timid. this show pulls no punches with regards to drugs, sex or violence. its is hardcore, in the classic use of the word.<br /><br />it is called oz as that is the nickname given to the oswald maximum security state penitentary. it focuses mainly on emerald city, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. em city is home to many..aryans, muslims, gangstas, latinos, christians, italians, irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />i would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. forget pretty pictures painted for mainstream audiences, forget charm, forget romance...oz doesn't mess around. the first episode i ever saw struck me as so nasty it was surreal, i couldn't say i was ready for it, but as i watched more, i developed a taste for oz, and got accustomed to the high levels of graphic violence. not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) watching oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [15]:
imdb['review'] = imdb['review'].str.replace('[^a-zA-Z]',' ')
imdb['review'].iloc[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

'one of the other reviewers has mentioned that after watching just   oz episode you ll be hooked  they are right  as this is exactly what happened with me  br    br   the first thing that struck me about oz was its brutality and unflinching scenes of violence  which set in right from the word go  trust me  this is not a show for the faint hearted or timid  this show pulls no punches with regards to drugs  sex or violence  its is hardcore  in the classic use of the word  br    br   it is called oz as that is the nickname given to the oswald maximum security state penitentary  it focuses mainly on emerald city  an experimental section of the prison where all the cells have glass fronts and face inwards  so privacy is not high on the agenda  em city is home to many  aryans  muslims  gangstas  latinos  christians  italians  irish and more    so scuffles  death stares  dodgy dealings and shady agreements are never far away  br    br   i would say the main appeal of the show is due to the fact that it goes where other shows wouldn t dare  forget pretty pictures painted for mainstream audiences  forget charm  forget romance   oz doesn t mess around  the first episode i ever saw struck me as so nasty it was surreal  i couldn t say i was ready for it  but as i watched more  i developed a taste for oz  and got accustomed to the high levels of graphic violence  not just violence  but injustice  crooked guards who ll be sold out for a nickel  inmates who ll kill on order and get away with it  well mannered  middle class inmates being turned into prison bitches due to their lack of street skills or prison experience  watching oz  you may become comfortable with what is uncomfortable viewing    thats if you can get in touch with your darker side '

In [16]:
common = pd.Series(' '.join(imdb['review']).split()).value_counts()[:15]
common

the     267010
and     129758
a       129296
of      115273
to      107421
is       84926
br       81660
it       76445
in       74503
i        69762
this     60926
that     57628
s        51630
was      38299
as       36550
dtype: int64

In [17]:
imdb['review'] = imdb['review'].apply(lambda x: " ".join(x for x in x.split() if x not in common))
imdb['review'].iloc[0]

'one other reviewers has mentioned after watching just oz episode you ll be hooked they are right exactly what happened with me first thing struck me about oz its brutality unflinching scenes violence which set right from word go trust me not show for faint hearted or timid show pulls no punches with regards drugs sex or violence its hardcore classic use word called oz nickname given oswald maximum security state penitentary focuses mainly on emerald city an experimental section prison where all cells have glass fronts face inwards so privacy not high on agenda em city home many aryans muslims gangstas latinos christians italians irish more so scuffles death stares dodgy dealings shady agreements are never far away would say main appeal show due fact goes where other shows wouldn t dare forget pretty pictures painted for mainstream audiences forget charm forget romance oz doesn t mess around first episode ever saw struck me so nasty surreal couldn t say ready for but watched more developed taste for oz got accustomed high levels graphic violence not just violence but injustice crooked guards who ll be sold out for nickel inmates who ll kill on order get away with well mannered middle class inmates being turned into prison bitches due their lack street skills or prison experience watching oz you may become comfortable with what uncomfortable viewing thats if you can get touch with your darker side'

In [18]:
rare = pd.Series(' '.join(imdb['review']).split()).value_counts()[-100:]
rare

fuzziness          1
vinterkriget       1
tansuhree          1
gulped             1
counterpointing    1
                  ..
nadie              1
somos              1
serpentaur         1
jms                1
falsey             1
Length: 100, dtype: int64

In [19]:
imdb['review'] = imdb.review.apply(lambda x: " ".join(x for x in x.split() if x not in rare))
imdb['review'].iloc[0]

'one other reviewers has mentioned after watching just oz episode you ll be hooked they are right exactly what happened with me first thing struck me about oz its brutality unflinching scenes violence which set right from word go trust me not show for faint hearted or timid show pulls no punches with regards drugs sex or violence its hardcore classic use word called oz nickname given oswald maximum security state penitentary focuses mainly on emerald city an experimental section prison where all cells have glass fronts face inwards so privacy not high on agenda em city home many aryans muslims gangstas latinos christians italians irish more so scuffles death stares dodgy dealings shady agreements are never far away would say main appeal show due fact goes where other shows wouldn t dare forget pretty pictures painted for mainstream audiences forget charm forget romance oz doesn t mess around first episode ever saw struck me so nasty surreal couldn t say ready for but watched more developed taste for oz got accustomed high levels graphic violence not just violence but injustice crooked guards who ll be sold out for nickel inmates who ll kill on order get away with well mannered middle class inmates being turned into prison bitches due their lack street skills or prison experience watching oz you may become comfortable with what uncomfortable viewing thats if you can get touch with your darker side'

In [30]:
imdb

,review,labels,word_cnt,char_cnt,avg,numerics,upper
0,one other reviewers has mentioned after watchi...,1,307,1761,5.736156,1,8
1,wonderful little production filming technique ...,1,162,998,6.160494,0,2
2,thought wonderful way spend time on too hot su...,1,166,926,5.578313,0,3
3,basically there family where little boy jake t...,0,138,748,5.420290,1,3
4,petter mattei love time money visually stunnin...,1,230,1317,5.726087,0,1
...,...,...,...,...,...,...,...
19996,sort hard for me say because so greatly enjoye...,0,511,2850,5.577299,3,8
19997,still liked though warren beatty only fair com...,1,372,1942,5.220430,1,10
19998,we could still use black adder even today imag...,1,178,997,5.601124,0,4
19999,so called documentary tries tell usa faked moo...,0,345,2021,5.857971,0,10
20000,am huge fan northern exposure men trees comple...,0,153,893,5.836601,0,1

In [32]:
tf1 = (imdb['review'][1:3]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

         words   tf
0         well  4.0
1         with  5.0
2          has  2.0
3    halliwell  2.0
4          but  5.0
..         ...  ...
182       some  1.0
183     killer  1.0
184     serial  1.0
185  suspected  1.0
186    friends  1.0

[187 rows x 2 columns]

In [33]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(imdb.shape[0]/(len(imdb[imdb['review'].str.contains(word)])))
tf1

         words   tf       idf
0         well  4.0  1.150166
1         with  5.0  0.322116
2          has  2.0  0.837876
3    halliwell  2.0  8.294100
4          but  5.0  0.315377
..         ...  ...       ...
182       some  1.0  0.586048
183     killer  1.0  3.225195
184     serial  1.0  4.528259
185  suspected  1.0  6.142337
186    friends  1.0  2.617346

[187 rows x 3 columns]

In [34]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

         words   tf       idf      tfidf
0         well  4.0  1.150166   4.600665
1         with  5.0  0.322116   1.610582
2          has  2.0  0.837876   1.675752
3    halliwell  2.0  8.294100  16.588199
4          but  5.0  0.315377   1.576887
..         ...  ...       ...        ...
182       some  1.0  0.586048   0.586048
183     killer  1.0  3.225195   3.225195
184     serial  1.0  4.528259   4.528259
185  suspected  1.0  6.142337   6.142337
186    friends  1.0  2.617346   2.617346

[187 rows x 4 columns]

In [36]:
tv = TfidfVectorizer(max_features=100 , ngram_range=(1,1), stop_words='english')
tv_transformed = tv.fit_transform(imdb['review'])

In [37]:
new_df = pd.DataFrame(tv_transformed.toarray(), columns = tv.get_feature_names()).add_prefix('TFIDF')
new_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,TFIDFacting,TFIDFaction,TFIDFactors,TFIDFactually,TFIDFaway,TFIDFbad,TFIDFbest,TFIDFbetter,TFIDFbig,TFIDFbit,...,TFIDFve,TFIDFwant,TFIDFwatch,TFIDFwatching,TFIDFway,TFIDFwoman,TFIDFwork,TFIDFworld,TFIDFyears,TFIDFyoung
0,0.000000,0.000000,0.00000,0.0,0.363023,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,0.0,0.00000,0.313711,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.27059,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,0.0,0.00000,0.268855,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.197361,0.0,0.00000,0.199402,0.168891,0.243411,0.000000,0.000000,0.203577,0.225504
3,0.000000,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.149335,0.199566,0.00000,0.0,0.000000,0.0,0.155164,0.0,0.187659,0.0,...,0.000000,0.0,0.14909,0.000000,0.144193,0.000000,0.176295,0.188236,0.000000,0.000000

In [38]:
imdb = pd.concat([new_df,imdb],axis=1, sort=False)
imdb.head()

,TFIDFacting,TFIDFaction,TFIDFactors,TFIDFactually,TFIDFaway,TFIDFbad,TFIDFbest,TFIDFbetter,TFIDFbig,TFIDFbit,...,TFIDFworld,TFIDFyears,TFIDFyoung,review,labels,word_cnt,char_cnt,avg,numerics,upper
0,0.000000,0.000000,0.00000,0.0,0.363023,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,one other reviewers has mentioned after watchi...,1,307,1761,5.736156,1,8
1,0.000000,0.000000,0.27059,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,wonderful little production filming technique ...,1,162,998,6.160494,0,2
2,0.000000,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,0.203577,0.225504,thought wonderful way spend time on too hot su...,1,166,926,5.578313,0,3
3,0.000000,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,basically there family where little boy jake t...,0,138,748,5.420290,1,3
4,0.149335,0.199566,0.00000,0.0,0.000000,0.0,0.155164,0.0,0.187659,0.0,...,0.188236,0.000000,0.000000,petter mattei love time money visually stunnin...,1,230,1317,5.726087,0,1

In [39]:
tv_sum = new_df.sum()
print(tv_sum.sort_values(ascending=False))

TFIDFmovie    3298.326195
TFIDFfilm     2994.652677
TFIDFlike     1652.201228
TFIDFjust     1525.200459
TFIDFgood     1426.683486
                 ...
TFIDFgirl      419.192368
TFIDFaway      419.118238
TFIDFwoman     416.120932
TFIDFkind      416.004651
TFIDFsure      414.893787
Length: 100, dtype: float64

In [42]:
# Split the dataset according to the class distribution of category_desc, using the filtered_text vector
train_X, test_X, train_y, test_y = train_test_split(tv_transformed.toarray(),imdb['labels'],test_size=0.2, random_state=42)

In [47]:
#create your model
#nb = GaussianNB()
#br = BernoulliNB()
mlm = MultinomialNB()
# Fit the model to the training data
mlm.fit(train_X,train_y)

#predict 
y_pred = mlm.predict(test_X)
print(mlm.score(test_X,test_y))
print(accuracy_score(test_y,y_pred))

0.7213196700824793
0.7213196700824793